.wrapper {
  margin-bottom: 20px;
}
.label {
  margin-bottom: 20px;
  color: #4454bb;
  font-weight: 500;
}
.input {
  margin-left: 15px;
  padding: 5px;
  color: rgb(9, 102, 109);
  border: 1px solid rgb(9, 102, 109);
  border-radius: 5px;
  outline: rgb(9, 102, 109);
}
.input:focus,
.input:hover {
  border: 1px solid rgb(9, 102, 109);
}
