.title {
  display: block;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.form {
  margin: 0 auto;
  padding: 10px;
  border: 2px solid silver;
  border-radius: 5px;
}

.formField {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1;
}

.formInput {
  display: block;
  width: 100%;
  margin-top: 10px;
  border: 2px solid silver;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  line-height: 1;
}

.formInput:hover,
.formInput:focus {
  outline: none;
  border: 2px solid skyblue;
}

.formButton {
  min-width: 70px;
  padding: 5px;
  border: 2px solid silver;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  background-color: white;
}

.formButton:hover,
.formButton:focus {
  outline: none;
  border: 2px solid skyblue;
}

.formButton:active {
  background-color: skyblue;
}

@media screen and (min-width: 480px) {
  .form {
    width: 450px;
  }

  .formInput {
    width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }

  .formField {
    font-size: 30px;
  }

  .formInput {
    font-size: 24px;
  }
}
